<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tigerxiao.beautyhunter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="com.tigerxiao.basic.fragments.TestFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.intent.IntentTestActivity_1"
            android:label="IntentTestActivity_1" >
            <intent-filter>
                <action android:name="android.intent.action.IntentTestActivity_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.intent.IntentTestActivity_2"
            android:label="IntentTestActivity_2" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.IntentTestActivity_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.activity.CreateDialog"
            android:label="CreateDialog" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.CreateDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.activity.ActivityLifeCycle"
            android:label="ActivityLifeCycle" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.ActivityLifeCycle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>