<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tigerxiao.beautyhunter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestActionbarActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestOrientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.TestOrientation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestScrollview"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.TestScrollview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestFramelayout"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TestFramelayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestRelativelayout"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TestRelativelayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestTablelayout"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TestTablelayout" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.viewgroup.TestLinearlayoutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TestLinearlayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.fragments.TestFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TestFragmentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.intent.IntentTestActivity_1"
            android:label="IntentTestActivity_1" >
            <intent-filter>
                <action android:name="android.intent.action.IntentTestActivity_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.intent.IntentTestActivity_2"
            android:label="IntentTestActivity_2" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.IntentTestActivity_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.activity.CreateDialog"
            android:label="CreateDialog" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.CreateDialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tigerxiao.basic.activity.ActivityLifeCycle"
            android:label="ActivityLifeCycle" >
            <intent-filter>
                <action android:name="com.tigerxiao.basic.ActivityLifeCycle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>